<apex:page standardController="CloudAmpGA__CloudAmpGA_Metrics__c" extensions="CloudAmpGA.CloudAmpGACustomMetricsComponent" showHeader="false" sidebar="false" tabStyle="CloudAmpGA__CloudAmpGA_Metrics__c">
    <apex:pageBlock mode="maindetail">
        <apex:pageBlockSection columns="2">
            <apex:repeat value="{!cmWrapped}" var="cm">
	            <apex:pageBlockSectionItem >
	                <apex:outputLabel value="{!cm.Label}"/>
	                <apex:outputText value="{!cm.Value}"/>
	            </apex:pageBlockSectionItem>
            </apex:repeat>
        </apex:pageBlockSection>
    </apex:pageBlock>
</apex:page>