<apex:page sidebar="false" showHeader="false" standardStylesheets="true" applyBodyTag="false" controller="CloudAmpGA.CloudAmpGAReportLookupController">
	
	<style>
		body {background: #fff url(/img/alohaSkin/lookup_bg.png) repeat-x; padding: 0;}
		
	</style>
	
	<body class="hasMotif lookupTab  LookupSearchFrame  brandNoBgrImg">
		<apex:form >
		<apex:outputPanel styleClass="lookup" layout="block">
			<div class="bPageTitle">
				<div class="ptBody secondaryPalette">
					<div class="content">
						<img src="/s.gif" alt="" class="pageTitleIcon" title=""/>
						<h1>Lookup</h1>
					</div>
				</div>
			</div>
			<div class="pBody">
				<label class="assistiveText" for="lksrch">Search</label>
				<apex:inputText value="{!lksrch}" size="20"/>
				<apex:commandButton action="{!doSearch}" value=" Go! " rerender="searchResults"/>
				<div class="bDescription">You can use "*" as a wildcard next to other characters to improve your search results.</div>
			</div>
		</apex:outputPanel>
		<apex:outputPanel id="searchResults" styleClass="lookup" layout="block">
			<div class="clearResults">&lt;<apex:commandLink action="{!clearSearch}" value="Clear Search Results" rerender="searchResults"/></div>
			<div class="srch">Search Results</div>
			<apex:pageBlock >
				<apex:pageBlockTable value="{!searchResults}" var="r">
					<apex:column headerValue="Name">
						<a href="#" class=" dataCell " onclick="window.opener.lookupPickCustom('{!JSINHTMLENCODE($CurrentPage.parameters.lknm)}_lkid','{!JSINHTMLENCODE($CurrentPage.parameters.lknm)}','{!JSINHTMLENCODE(r.Id)}','{!JSINHTMLENCODE(r.Name)}');window.close();">{!r.name}</a>
					</apex:column>
					<apex:column value="{!r.NamespacePrefix}"/>
					<apex:column value="{!r.OwnerId}"/>
					<apex:column value="{!r.LastModifiedDate}"/>
				</apex:pageBlockTable>
			</apex:pageBlock>
		</apex:outputPanel>
		</apex:form>
	</body>
</apex:page>