<apex:page controller="bp">

<!--me


<apex:page controller="HIPIAddCtr" standardStylesheets="true" sidebar="true" showheader="true" id="MainPage">

    <apex:form id="form">   -->  
    <!--<apex:pageMessages  Id ></apex:pageMessages>    -->
 <!--me   <apex:pagemessages id="messages"/>
        <apex:pageBlock title="{!pageTitle }" id="MainPageBlock">        
            <apex:pageblockSection columns="1" id="MainPageBlockSection">
                        
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Category Type" />
                    <apex:inputField value="{!CV_Old.Category_Type__c}"/>
                </apex:pageBlockSectionItem>
                
                <apex:pageblockSectionItem >
                    <apex:outputLabel value="Sub Category Type"/>
                    <apex:inputField value="{!CV_Old.Category_Sub_Type__c}"/>
                </apex:pageblockSectionItem>
                
                <apex:pageblockSectionItem >
                    <apex:outputLabel value="Contract #"/>
                    <apex:inputField value="{!CV_Old.Contract__c}" />
                </apex:pageblockSectionItem>
                
                <apex:pageblockSectionItem >
                    <apex:outputLabel value="file to replace" rendered="{!IsEdit}"/>
                    <apex:outputText value="{!CV_Old.Title}"></apex:outputText> -->
                     <!--<apex:selectList value="{!selectedContFiles}" size="1" rendered="{!flag}">                    
                         <apex:selectOptions value="{!ContFiles}" rendered="{!flag}"/>
                     </apex:selectList>-->
         <!--me       </apex:pageblockSectionItem> -->
                
               <!-- <apex:pageblockSectionItem >
                    <apex:outputLabel value="Party Name"/>
                    <apex:inputField value="{!CV_Old.Licensee__c}"/>
                </apex:pageblockSectionItem> -->
                
        <!-- Me       <apex:pageblockSectionItem >
                    <apex:outputLabel value="Choose a new file"/>
                    <apex:inputFile value="{!InPutfile}" fileName="{!fileName}" style="border-style:inset; border-width:1px;" />
                </apex:pageblockSectionItem>
                
                <apex:pageblockSectionItem >
                
                    <apex:outputLabel value="Publish to a shared library"/>
                    
                    <apex:outputPanel >
                    
                        <apex:outputPanel rendered="{!IsEdit == false }">                        
                            <apex:selectList value="{!selectedConWSName}" size="1">                      
                                 <apex:selectOptions value="{!ConWSNames}" />
                             </apex:selectList>                          
                        </apex:outputPanel> 
                        
                         <apex:outputPanel rendered="{!IsEdit}">
                             <apex:outputText value="{!CW.Name}"></apex:outputText>
                        </apex:outputPanel> 
                    
                    </apex:outputPanel>
                    
                </apex:pageblockSectionItem>
                
            </apex:pageblockSection>
            
         <apex:pageBlockButtons location="bottom">
            <apex:commandButton value="Save" action="{!SaveContentversion}"/>
            <apex:commandButton value="Cancel" action="{!cancelContent}" immediate="true"/>            
         </apex:pageBlockButtons>        
         
        </apex:pageBlock>       
        
    </apex:form> 
    
</apex:page>
-->
</apex:page>