<apex:page controller="C2" >
    <apex:pageblock >
        <apex:tabPanel switchType="ajax">
            <apex:tab label="Customer" labelWidth="100">
                 <apex:pageblockTable value="{!acts}" var="a">
                    <apex:column value="{!a.Name}"/>
                    <apex:column value="{!a.Type}"/>
                    <apex:column value="{!a.Industry}"/>
                    <apex:column value="{!a.Phone}"/>
                    <apex:column value="{!a.Fax}"/>                                                
                </apex:pageblockTable>
            </apex:tab>              
     

          <apex:tab label="Accounts" labelWidth="100">                   
                <apex:pageblockTable value="{!acts1}" var="a1">
                    <apex:column value="{!a1.Name}"/>
                    <apex:column value="{!a1.Type}"/>
                    <apex:column value="{!a1.Industry}"/>
                    <apex:column value="{!a1.Phone}"/>
                    <apex:column value="{!a1.Fax}"/>                                                
                </apex:pageblockTable>
         
            </apex:tab>      
        </apex:tabPanel>
    </apex:pageblock>    
</apex:page>