<apex:page standardController="Employee__c">
  <apex:form >
    <apex:pageBlock title="My Content" mode="edit">
          <apex:pageBlockButtons location="bottom" >
            <apex:commandButton action="{!save}" value="Save"/>
          </apex:pageBlockButtons>
      <apex:pageBlockSection title="My Content" columns="2">
        <apex:inputField value="{!Employee__c.First_Name__c}"/>
        <apex:inputField value="{!Employee__c.Last_Name__c}"/>
        <apex:inputField value="{!Employee__c.Employee_ID__c}"/>
        <apex:inputField value="{!Employee__c.Phone_Number__c}"/>
      </apex:pageBlockSection>

    </apex:pageBlock>

  </apex:form>

</apex:page>