<apex:page controller="ACT" sidebar="false" >

    <apex:form id="fm">        
      <apex:pageBlock id="pageBlock" > 
      <apex:pagemessages ></apex:pagemessages>    
          <apex:pageBlockButtons >
             <!-- <apex:commandButton value="CheckAll"  action="{!marktoall}"/>
              <apex:commandButton value="UnCheckAll" action="{!UnCheckAll}"/>
              -->
            <!--  <apex:commandButton value="Delete" action="{!actsToDel}" onclick="if(!confirm('Are you sure?')) return false;">
                  <apex:param name="idToDel" value="{}"/>
              </apex:commandButton>--> 
          </apex:pageBlockButtons>
          <apex:pageBlockSection id="PBSection">          
              <apex:pageBlockTable value="{!wrpList}" var="a" id="PBTB">   
                   
                  <apex:Column headerValue="Name">
                                   
                      <apex:commandLink value="{!a.act.Name}"  action="{!actsToDel}" onclick="if(!confirm('Are you sure?')) return false;" reRender="DetailSection" style="color:red">  
                          <apex:param Name="AccountId" assignTo="{!accountName}" value="{!a.act.name}" />
                      </apex:commandLink> 
                  </apex:column>                                                                        
                  <apex:Column value="{!a.act.Type}"/>              
                  <apex:Column value="{!a.act.Industry}"/>
                  <apex:Column value="{!a.act.Phone}"/>
                  <apex:Column value="{!a.act.Fax}"/>
                  <apex:column headerValue="Status" id="headerName">
                      <apex:inputCheckbox label="CheckBox" id="cBox" value="{!a.checkbox}"/>            
                  </apex:column>                   
              </apex:pageBlockTable>
                      
              <apex:pageBlock id="DetailSection">
                  <apex:detail subject="{!$CurrentPage.Parameters.AccountId}" relatedList="false" />
              </apex:pageBlock>
          </apex:pageBlockSection>
      </apex:pageBlock>            
        
            <!--<apex:commandButton value="Go to demo1" Action="/apex/demo1"/>-->
    </apex:form>
</apex:page>