<apex:page controller="wizard_class">
    <apex:form >
        <apex:pageBlock title="Opportunity Details">
            <apex:pageBlockButtons >
                <apex:commandButton value="Next Page" action="{!gotoPage4}"/>
                 <apex:commandButton value="Privious Page" action="{!gotoPage2}"/>
            </apex:pageBlockButtons>
            
            <apex:pageblockSection columns="1">
                <apex:inputField value="{!o.Name}"/>
                <apex:inputField value="{!o.StageName}"/>
                <apex:inputField value="{!o.Amount}"/>
                <apex:inputField value="{!o.CloseDate}"/>
                <apex:inputField value="{!o.Type}"/>
            </apex:pageblockSection>            
        </apex:pageBlock>
    </apex:form>    
</apex:page>