<apex:page title="My First Script Page of SalesForce" >
   
   
      
    <script>
  
    function concat()
    {
    
        var fName, lName,fulName;

        document.getElementById('{!$Component.fm.m}').checked = true;
        fName=document.getElementById('{!$Component.fm.fName}').value;   
                 
        lName=document.getElementById('{!$Component.fm.lName}').value;
        fulName=fName +"  " +lName;
        document.getElementById('{!$Component.fm.fulName}').value = fulName;
        document.getElementById('{!$Component.fm.output}').innerHTML = fulName;
           
    }
    
     
    </script>
    
    <apex:form id="fm" > 
    <p id="output">hi</p>
     Mark       : <apex:inputcheckbox id="m"/><br/>
     First Name : <apex:inputText id="fName" label="fName"/><br/>
     First Name : <apex:inputText id="lName" /><br/>
     First Name : <apex:inputText id="fulName" /><br/>
     <apex:commandButton value="Click" onclick="concat()" />
     <apex:commandButton value="Click" oncomplete="concat()" />
    </apex:form>
    
</apex:page>