<apex:page controller="AccountController1">
          <apex:form >
                   <apex:pageBlock title="{!pageTitle}">
                               <apex:selectList value="{!selectedAccId}" size="1"> <!-- selectedAccId store the selected label value as account Id of selected account name.-->
                                           <apex:selectOptions value="{!AccountNames}" />
                               </apex:selectList>
                               
<apex:inputFile value="{!file.versionData}" fileName="{!file.pathOnClient}" /><br/>

<apex:commandbutton action="{!go}" value="go"/><br/>
<apex:outputLabel value="{!pageTitle }"></apex:outputLabel>                               
                  </apex:pageBlock>
        </apex:form>
</apex:page>